body {
  padding: 50px 500px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
  padding: 20px 0;
}

.warning {
  visibility: hidden;
  color: red;
  margin: 0;
  padding: 0;
}
